VITE_SUPABASE_URL="https://oddfzzebucgklvwplaus.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9kZGZ6emVidWNna2x2d3BsYXVzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4OTA4MTYsImV4cCI6MjA4OTQ2NjgxNn0.EV-hYQF6lQyQs3-J0FGMdRBpQ0DKb1HOYAXa9uXT-_w"